{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
    <div class="dark:text-white sm:w-2xl md:w-1/2 lg:w-1/2 mx-auto my-10">
        <!--Show Messages-->
        <div>
            <ul>
                {% for message in messages %}
                    <li class="px-5 py-3 rounded-md text-white text-2xl {% if message.tags == 'success' %}bg-green-400 {% else %} bg-red-500 {% endif %} ">{{message}}</li>
                {% endfor %}
            </ul>
        </div>

        <!--Show Login Form-->

        <div>
            <form class="" method='POST'>
                {% csrf_token %}

                {{form}}

                <div class=" grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 mx-5 gap-2 ">
                <button type="submit" class="w-35 h-20  rounded-md py-5 px-5 bg-sky-500 hover:bg-sky-800 text-white text-xl">Sign In</button>
                <a href="{% url 'sign-up' %}" class="w-35 h-20 rounded-md py-5 px-5 bg-amber-300 hover:bg-amber-200 text-white text-xl">Sign Up</a>
                <a href="{% url 'reset-password' %}" class="w-35 h-20  rounded-md py-2 px-5 bg-red-600 hover:bg-red-400 text-white text-xl">Forget Password</a>
                </div>
            </form>
        </div>

    </div>
{% endblock content %}