{% extends "form_base.html" %}

{% block title %}Registration{% endblock title %}

{% block content %}
    <div class="w-1/2 mx-auto my-10">
        <!--Show Messages-->
        <div>
            <ul>
                {% for mess in messages %}
                    <li class="px-5 py-3 rounded-md text-white text-2xl {% if messages.tags == 'success' %}bg-green-400 {% else %} bg-red-500 {% endif %} ">{{mess}}</li>
                {% endfor %}
            </ul>
        </div>

        <!--Show Registration Form-->

        <div>
            <form action="" method='POST'>
                {% csrf_token %}

                {{form}}

                
                <button type="submit" class="my-5 rounded-md py-2 px-5 bg-sky-500 hover:bg-sky-800 text-white text-xl">Submit</button>
                <a href="{% url 'sign-in' %}" class="mx-3 my-5 rounded-md py-2 px-5 bg-amber-300 hover:bg-amber-600 text-white text-xl">Sign In</a>
                
            </form>
        </div>

    </div>
{% endblock content %}