{% extends "base.html" %} 

{% load static %}
{%block content %}

<div class="">

          <!-- Stats Grid  -->
  <div class="grid sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-6 mb-8">
    <!-- TOTAL EVENT  -->
    <a href="{% url 'manager-dashboard'%}?type=all">

      <div class="bg-stolen-50 hover:dark:bg-gray-600 dark:bg-gray-700 rounded-xl p-6 shadow-sm">
      <h3 class="text-sm font-medium dark:text-white mb-4">ALL EVENTS</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="dark:text-white text-3xl font-semibold mb-1">
            {{count.event}}
          </p>
          <p class="dark:text-white text-sm">1 last month</p>
        </div>
        <div class="bg-green-100 p-3 rounded-full">
          <i
            class="fa-regular fa-calendar-check fa-bounce fa-xl"
            style="color: #74c0fc"
          ></i>
        </div>
      </div>
    </div>


    </a>
    <!-- TODAY EVENTS -->
   <a href="{% url 'manager-dashboard'%}?type=today">
     <div class="bg-stolen-50 hover:dark:bg-gray-600 dark:bg-gray-700 rounded-xl p-6 shadow-sm">
      <h3 class="text-sm font-medium dark:text-white mb-4">TODAY EVENTS</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="dark:text-white text-3xl font-semibold mb-1">
            {{count.today}}
          </p>
          <p class="dark:text-white text-sm">1 last month</p>
        </div>
        <div class="bg-blue-100 p-4 rounded-full">
          <i
            class="fa-solid fa-calendar-day fa-beat-fade fa-xl"
            style="color: #d85ee8"
          ></i>
        </div>
      </div>
    </div>
   </a>
    <!-- UPCOMING EVENTS -->
   <a href="{% url 'manager-dashboard'%}?type=upcoming">
     <div class="bg-stolen-50 hover:dark:bg-gray-600 dark:bg-gray-700 rounded-xl p-6 shadow-sm">
      <h3 class="text-sm font-medium dark:text-white mb-4">UPCOMING EVENTS</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="dark:text-white text-3xl font-semibold mb-1">
            {{count.upcoming}}
          </p>
          <p class="dark:text-white text-sm">1 last month</p>
        </div>
        <div class="bg-yellow-100 p-3 rounded-full">
          <i
            class="fa-regular fa-clock fa-shake fa-xl"
            style="color: #ffd43b"
          ></i>
        </div>
      </div>
    </div>
   </a>

    <!--PAST EVENTS-->
    <a href="{% url 'manager-dashboard'%}?type=past">
      <div class="bg-stolen-50 hover:dark:bg-gray-600 dark:bg-gray-700 rounded-xl p-6 shadow-sm">
      <h3 class="text-sm font-medium dark:text-white mb-4">PAST EVENTS</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="dark:text-white text-3xl font-semibold mb-1">
            {{count.past}}
          </p>
          <p class="dark:text-white text-sm">1 last month</p>
        </div>
        <div class="bg-purple-100 p-3 rounded-full">
          <i
            class="fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse fa-xl"
            style="color: #b197fc"
          ></i>
        </div>
      </div>
    </div>
    </a>
    

    <!-- Total PARTICIPANT -->
    <a href="{% url 'all-participant' %}">

      <div class="bg-stolen-50 hover:dark:bg-gray-600 dark:bg-gray-700 rounded-xl p-6 shadow-sm">
      <h3 class="text-sm font-medium dark:text-white mb-4">TOTAL PARTICIPANTS</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="dark:text-white text-3xl font-semibold mb-1">
            {{count.participants}}
          </p>
          <p class="dark:text-white text-sm">1 last month</p>
        </div>
        <div class="bg-blue-100 p-4 rounded-full">
          <i
            class="fa-regular fa-user fa-beat fa-xl"
            style="color: #63e6be"
          ></i>
        </div>
      </div>
    </div>
  </div>

  </a>


</div>

<!--show message section-->

  <div class="mx-auto my-4 rounded-md">
    {% for message in messages %}

    <div
      class="mx-auto px-3 py-1 rounded-md flex justify-center items-center text-amber-50 {% if message.tags == 'success' %} bg-green-400 {% endif %}"
    >
      {{message}}
    </div>

    {% endfor %}
  </div>


<div class="grid sm:grid-cols-1 md:grid-cols-2 mb-20">

<!--Category select box-->

<div>

  <form method="POST" action="{% url 'search-with-category' %}" class="max-w-xl mx-auto mt-6 p-4 hover:dark:bg-gray-600 dark:bg-gray-700 bg-white shadow rounded-lg">
  
  {% csrf_token %}
    <!-- Category Dropdown -->
  <label for="id" class="block mb-2 text-sm font-medium dark:text-white text-gray-700">Select Category</label>
  <select id="id" name="id"
    class="w-full p-2 border dark:text-white dark:bg-gray-800 dark:border-amber-50 border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none mb-4">
    <option  value="">-- All Categories --</option>
    {% for EVcat in EVcategories %}
      <option class="dark:text-white text-black " value="{{ EVcat.category.id }}"> {{ EVcat.category.name }}</option>
    {% endfor %}
  </select>


  <!-- Submit Button -->
  <button type="submit"
    class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 transition">
    Filter Events
  </button>
</form>


</div>




  <!-- Date Range search box-->

  <div >

     <form method="POST" action="{% url 'search-with-date-range' %}" class=" max-w-xl mx-auto mt-6 p-4 dark:text-white hover:dark:bg-gray-600 dark:bg-gray-700 bg-white shadow rounded-lg">
{% csrf_token %}
<div class="grid grid-cols-2 gap-4">

  <div>

    <!-- Start Date -->
    <label for="start_date" class="block mb-2 text-sm font-medium dark:text-white text-gray-700">Start Date</label>
    <input type="date" id="start_date" name="start_date"
      class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none mb-4">
  </div>

  <div>

    <!-- End Date -->
    <label for="end_date" class="block mb-2 text-sm font-medium dark:text-white text-gray-700">End Date</label>
    <input type="date" id="end_date" name="end_date"
      class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none mb-4">
  </div>


</div>

  <!-- Submit Button -->
  <button type="submit"
    class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 transition">
    Filter Events
  </button>
</form>

  </div>
</div>

<!--All Events-->
<div class="grid sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-2"> 
{% for event in events %}

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="{{event.Easset.url}}" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{event.title}}</h5>
        </a>
       <div>
        <b class="dark:text-amber-100 text-bold">Date : {{event.date}} </b>
        <p class="dark:text-amber-50 text-2xs mt-2">Location : {{event.location}}</p>
       </div>
        <a href="{% url 'event-details' event.id%}" class=" mt-5 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>

{% endfor %}

 </div>






  
 


      {% if events %}


      
      {% else %}

      <div
        class="mx-auto px-3 py-3 text-stone-50  text-4xl bg-green-300 rounded-md flex justify-center items-center"
      >
        <h1>Nothing here..........</h1>
      </div>

      {% endif %}

  </div>


    
{% endblock content %}
