{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'src/output.css'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
     <!-- connect script.js -->
    <script src="{% static 'js/script.js' %}"></script>
  </head>
<body id="base-body" class=" min-h-screen flex flex-col bg-stone-50 " >

    <!--Header Section-->
    {% if request.user.is_authenticated %}
    {% include "login_nav.html" %}
    {% else %}
    {% include "non_login_nav.html" %}
    {% endif %}

{% block content %}{% endblock content %}
    
</body>
</html>